.eventmain {
	height:auto;
	width:auto;
}

.container .row {
     padding-right: 0; /*15px in bootstrap.css*/
     padding-left: 0;  /*idem*/
     margin-right: auto;
     margin-left: auto;
}

.front {
    padding-top: 15px;
    text-align: center;
}

.loader {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.eventstill {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.eventanimated {
    z-index: 3;
    position: relative;
    top: -68px;
    margin-bottom: -68px;
}

.top-buffer { margin-top:80px; }
.text-left { text-align:left; }


/* The starting CSS styles for the enter animation */
.animate-show, .animate-hide {
    -webkit-transition:all linear 1s;
    -moz-transition:all linear 1s;
    -ms-transition:all linear 1s;
    -o-transition:all linear 1s;
    transition:all linear 1s;

}

.animate-show {
    opacity:0;
}

.animate-show.animate-show-active {
    opacity:1;
}

.animate-hide {
    opacity:1;
}

.animate-hide.animate-hide-active {
    opacity:0;
}
